
@{
    ViewBag.Title = "Create";
}

<h2>Форма создания элемента</h2>

<p>
    @Html.ActionLink("Назад", "Index", "MenuCafe", new { area = "Admin" }, new { @class = "btn btn-secondary" })
</p>

<form action="/Admin/MenuCafe/Save" method="post">
    <div class="form-group">
        <label>Наменование</label>
        <input type="text" class="form-control" placeholder="Введите наименование" value="" name="Caption">
    </div>
    <div class="form-group">
        <label>Описание</label>
        <textarea class="form-control" rows="3" name="Description"></textarea>
    </div>
    <div class="form-group">
        <label>Категория</label>
        <select class="form-control" name="MenuCategoryId">
            @foreach (var item in (List<MenuCategory>)ViewBag.Categories)
            {
                <option value="@item.Id">@item.Caption</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label>Цена</label>
        <input type="text" class="form-control" placeholder="Введите цену" value="" name="Price">
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>